<script src="scripts/ckeditor/ckeditor.js"></script>
<script> CKEDITOR.env.isCompatible = true;
$(function () {
  CKEDITOR.config.height = 600;
});</script>
<view-title>{{'編輯專案'|translate}}</view-title>
<h2><i class="fa fa-comments"></i>{{'編輯專案'|translate}}</h2>
<div ng-show="entry.title && entry.explanation && entry.img" ng-click="submit()"
     class="pull-right btn btn-success btn-lg" ui-sref="business">
  <i class="fa fa-pencil-square-o"></i>{{'儲存專案'|translate}}
</div>

<form name="myForm" novalidate>
  <div class="row form-inline">
    <div class="form-group">
      <label for="title"><h4>{{'專案名稱：'|translate}}</h4></label>
      <input autofocus name="title" id="title" type="text" ng-model="entry.title" required="true" placeholder="{{'保姆'|translate}}">
    </div>
    <div class="form-group ">
      <label for="img"><h4>{{'專案封面圖片網址：'|translate}}</h4></label>
      <input name="title" id="img" type="url" ng-model="entry.img" required>
      <img ng-src="{{entry.img}}" style="max-height: 80px;max-width: 80px;"/>
    </div>
  </div>
     <textarea ck-editor ng-model="entry.explanation" name="editor1" id="editor1" rows="40" cols="80"></textarea>
  <p class="help-block">{{'請盡可能的清楚描述您的想法，可附圖、連結、影片等等，用滑鼠拖曳編輯區右下角的三角形◢可調整大小'|translate}}</p>

</form>
