<view-title>找工作</view-title>
  <div class="row">
    <div class="alert alert-info alert-dismissible" id="success-alert" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>使用說明：</strong> 按一下每筆工作可以看到詳細資料。登入後才可以張貼工作
    </div>
    <div class="alert alert-success alert-dismissible" id="success-2" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>搜尋：</strong> 只要打入部分關鍵字就會直接跳出結果
    </div>
    <div class="col-sm-12">
      <a ui-sref=newjob class="pull-right btn btn-primary btn-outline btn-rounded">張貼工作</a>

    <h2 style="padding-left: 18px"><span class="glyphicon glyphicon-briefcase pull-left"></span>
      &nbsp;&nbsp;找工作?</h2>

    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" class="form-control input-lg" placeholder="即時查詢" ng-model="query"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
      </div>
    </div>
    <div class="container-fluid" style="overflow-x: auto">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>職缺</th>
          <th>地點</th>
          <th class="hidden-xs">工作內容</th>
          <th class="hidden-xs">條件要求</th>
          <th>公司名稱</th>
          <th>月薪範圍</th>
          <!--<th>詳</th>-->
          <th ng-show="user.isAdmin" class="warning">刪除</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-animate="'animate'" ng-repeat="job in jobs | orderBy:'-time' | filter:query"
            ui-sref="jobDetail({jobId: job.$id})">
          <td>{{ job.title }}</td>
          <td class="text-info">{{ job.location|cut:true:12 }}</td>
          <td class="hidden-xs text-success"><span ng-bind-html="job.desc|cut:true:40 | to_trusted "></span></a></td>
          <td class="hidden-xs"><span ng-bind-html="job.requirement|cut:false:40 | to_trusted "></span></td>
          <td class=" text-success">{{ job.company }}</td>
          <td>{{ job.salary1|currency:limitTo:0}} - {{ job.salary2 |currency: limitTo:0}}</td>
          <td ng-if="user.isAdmin"><a ng-click="jobs.$remove(job)"><span
              class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <script>
    $(document).ready(function () {
      $("#success-alert").fadeTo(4000, 1000).slideUp(1500, function () {
        $("#success-alert").alert('close');
      });
      $("#success-2").fadeTo(7000, 1000).slideUp(1500, function () {
        $("#success-2").alert('close');
      });
    });
  </script>