<div class=login-page>
  <div class=row>
    <div class="col-md-4 col-lg-4 col-sm-4 col-md-offset-4 col-sm-offset-4 col-lg-offset-4">
      <img src=images/flat-avatar.png class=user-avatar>

      <h1>工作教育網
        <br/>
        <small>自立支援服務</small>
      </h1>


      <div class="social-box well center-block btn-rounded ">
        <p class="text-success">登入才能使用進一步功能</p>

          <div ng-click="loginfb()" class="btn-lg btn-primary btn-block">
            <i class="fa fa-facebook"></i>   Facebook
          </div>
          <div ng-click="loginGoogle()" class="btn-lg btn-block btn-danger">
            <i class="fa fa-google-plus">&nbsp;</i>  Google
          </div>
        <hr/>
        <p class="text-success">只是來逛逛</p>
        <div ui-sref="job" class="btn-lg btn-success btn-block">
          <i class="glyphicon glyphicon-user"></i>   直接進入網站
        </div>
      </div>
    </div>
  </div>
</div>